
.item {
    margin: 5px;
    display: flex;
    min-height: 1em;
    align-items: stretch;
   // margin: 5px;
}

.question-answer {
    font-weight: bold;
    color: black;
}

.right {
    margin-left: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right > div {
    padding: 5px;
}
.up {
    margin: -3px;
    font-style: italic;
    color: darkgray;
    background-color: white;
}
.down {
    border: 1px solid #ececec;
    border-radius: 5px;
    height: 100%;
}

.badge {
    min-width: 120px;
    width: 300px;
    height: -webkit-fill-available;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    background-color: #dcdcdc;
    border-radius: 3px;
    box-sizing: border-box;
    flex: 0 0 60px;
}